<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>cadastrar</title>
  </head>
  <body>
    <header>
      <h1>Sistema de Cadastro</h1>
    </header>
    <main>
      <form action="/cadastro" method="post">
        <input type="text" name="nome">
        <input type="text" name="cpf">
        <input type="text" name="cidade">
        <input type="date" name="data de nascimento">
        <input type="email" name="email">
        <input type="password" name="senha">
        <button type="submit"></button>
      </form>
      <a href="login.html">ja tem conta?</a>
      <a href="../index.html">Voltar</a>
    </main>
    <footer>
      <p>Todos os direitos reservados @ 2026</p>
    </footer>
  </body>
</html>
