<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Login</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Login Sistema</h1>
      <p>Coloque seu dados para cadastra</p>
    </header>
    <main>
      <form action="/Login" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <label for="cpf">CPF</label>
        <input type="text" name="cpf">
        <label for="cidade">Cidade:</label>
        <input type="text" name="cidade">
        <label for="nascimento">Nascimento</label>
        <input type="date" name="nascimento">
        <label for="email">E-Mail</label>
        <input type="email" name="email">
        <label for="password">Senha:</label>
        <input type="password" name="senha">
        <button type="submit">Login</button>
      </form>
      <a href="cadastrar.html">Ainda não tem conta?</a>
      <a href="../index.html">voltar</a>
    </main>
    <footer>
      <p>todos osdireitos reservados @ 2026</p>
    </footer>
  </body>
</html>
