<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Login</title>    
  </head>
  <body>
    <header>
      <h1>Cadastro Sistema</h1>
      <p>Coloque seu dados para cadastra</p>
    </header>
    <main>
      <form action="/Login" method="post">
        <input type="text" name="nome">
        <input type="text" name="cpf">
        <input type="text" name="cidade">
        <input type="date" name="nascimento">
        <input type="email" name="email">
        <input type="password" name="senha">
        <button type="submit">Login</button>
      </form>
      <a href="cadastrar.html">Ainda não tem conta?</a>
    </main>
    <footer>
      <p>todos osdireitos reservados @ 2026</p>
    </footer>
  </body>
</html>
