<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>Login</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <h1>Login Sistema</h1>
      <p>Coloque seu dados para entrar na sua conta</p>
    </header>
    <main>
      <form action="/login" method="post">
        <p>
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" name="cpf" required>
        </p>
        <p>
          <label for="password">Senha:</label>
          <input type="password" id="password" name="senha" required>
        </p>
        <button type="submit">Login</button>
        <button type="reset">Limpar</button>
      </form>
      <nav>
        <a href="/cadastrar">Ainda não tem conta?</a>
        <a href="/">voltar</a>
      </nav>
    </main>
    <footer>
      <p>todos osdireitos reservados @ 2026</p>
    </footer>
  </body>
</html>
